<h2> 
	<strong>Step 1: </strong> Initial Setup
	<em>Prepare your tools:</em> 
</h2> 
			<p>
For first thing, you have to own a google appengine account. Just <%= link_to "click here" , "http://code.google.com/appengine/" , :target => "_blank" %> and create one.
You will also be asked to create an appspot domain, just pick one you want and it will have the pattern "yourdomain.appspot.com".
			</p>
			<p>
Then , you have to install all the gemset we need
<pre class="syntax brush-ruby">
	
sudo gem install rails -v "2.3.5"
sudo gem install google-appengine rails_dm_datastore activerecord-nulldb-adapter
</pre>		
			</p>
			<p>
After this, you are ready to proceed to the next step!
			</p>
 
	<li class="clearfix"> 
		<button type="button" class="next right">Next&raquo;</button> 
	</li> 
 			