<h2> 
	<strong>Step 4: </strong> Conclusions <b></b> 
	<em>Far to be perfect</em> 
</h2>

<p>
	So, we learned how to create and deploy a new rails application into the GAE hosting.<br />
	What now?<br />
	For us rails developer, gae is far-to-be perfect: in the startup it's very slow, the file limit is 1000 (which is very low for our standard) , but nonetheless, it something you can rely on , if you want to learn JRuby and it's interaction with rails.<br />
	<br />
	If you want to learn more, or learn the original Gist i took for creating this tutorial,please head to <%= link_to "http://gist.github.com/268192", "http://gist.github.com/268192" %>.<br />
	If you want to learn more about the creator of this site, please head into <%= link_to "my wonderful blog", "http://www.rublings.com" %> and say hi!<br />
	If you want to leave your trace, just use the <%= link_to "guestbook", {:controller => 'posts'}%> embedded in this application.<br />
	
	Hope you enjoyed this tutorial!<br />
</p>
<p> 
	<button type="button" class="prev" style="float:left;">&laquo; Step Back</button> 
</p>