
				<h2> 
					<strong>Step 2: </strong> Create a the application <b></b> 
					<em>Put some J into your Ruby</em> 
				</h2> 
				
				<p>
					Now we will going to fetch a script from the net, which will create for us an optimized and hacked version of rails just for us.
				</p>
				
				<p>
					For first, create a new directory, then enter in it
<pre class="syntax brush-bash">
mkdir my_app;
cd my_app;
</pre>
				</p>
				<p>
					Then, fetch this file from internet and execute it:
<pre class="syntax brush-bash">

curl -O http://appengine-jruby.googlecode.com/hg/demos/rails2/rails2_appengine.rb
ruby rails2_appengine.rb
</pre>
				</p>
				
				<p>
					After a minute or two, your application will be ready.Just fire the server and you are good to go!
<pre class="syntax brush-bash">
./script/server.sh
</pre>
					Wait for loading and head your browser to "http://localhost:8080" and voilà! Your JRuby on rails is done and ready to be deployed
				</p>
				
				<li style="margin-top:30px"> 
					<button type="button" class="next right" style="float:right">Step Next&raquo;</button> 
				</li>
				<li> 
					<button type="button" class="prev" style="float:left;">&laquo; Step Back</button> 
				</li>
				