<div class="wizard">
	<h2>Welcome to the tutorial</h2>
	
	<p>
		Welcome to the tutorial on "How install a JRuby on Rails application on GAE".<br />
		This tutorial's purpose is to make this installation fun ,easy and interactive.<br />
		Before you start, i'll suppose that you have already installed a ruby runtime, and know how to use terminal; <b>however</b>, this tutorial is very descriptive and easy, so you will not have many problems(i think ). 
		
	</p>
	<p>
		If you need some help, please don't hesitate to send me a <%= link_to "mail", "mailto:vincenzo.rivello@gmail.com" %>, i'll be glad to receive a little feedback from you.<br />
		Also, if you are curious, this project is open source! check my <%= link_to "github", "http://github.com/enzor" %> repository, and clone my project.<br />
		<br />
		I hope you will enjoy this tutorial.
	</p>
	
</div>