<h1>Guestbook</h1>

<table>
  <tr>
	<th>Author</th>
    <th>Comment</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
	<td><%=h post.author %></td>
    <td><%= link_to (h post.body[0..90]+ "..."), post %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New post', new_post_path %>