
<table id="guestbook">
  <tr>
	<th>Author</th>
    <th style="text-align:center">Comment</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
	<td class="author"><%=h post.author %></td>
	<td style="text-align:center"><%= link_to (h post.body[0..80]+ "..."), post %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New post', new_post_path , :style => "text-decoration:none;font-size:16px;align:center" %>